<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Products</title>
</head>
<body>

<form   method="post" id = "my_form" th:action ="@{/getStoreproduct}" ></form>
<form   method="post" id = "del" th:action ="@{/DeleteProduct}" ></form>
<form   method="post" id = "edit" th:action ="@{/getProductID}" ></form>

<form   method="post" id = "my_form1" th:action ="@{/ShowStatistics2}" ></form>

<table border="1">
	<tr>
	    <td>Name</td>
	    <td>Type</td>
	    <td>Category</td>
	    <td>Price</td>
	</tr>
	<tr th:each="product: ${products}">
	    <td th:text ="${product.product.getName()}"></td>
		<td th:text ="${product.product.getType()}"></td>
		<td th:text ="${product.product.getCategory()}"></td>
		<td th:text ="${product.price}"></td>
    <td> <button type="submit" form="my_form" th:value="*{product.id}" name="id">Buy Product</button>
    </td>
    <td> <button type="submit" form="edit" th:value="*{product.id}" name="id">Edit Product</button>
    </td>
    <td> <button type="submit" form="del" th:value="*{product.id}" name="id">Delete Product</button>
    </td>
		
	</tr>
</table>
</body>
</html>