<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Add product App</title>
</head>
<body>

<form   method="post" id = "my_form" th:action ="@{/getStoreproduct}" ></form>
<form   method="post" id = "my_form1" th:action ="@{/ShowStatistics2}" ></form>

<table border="1">
	<tr>
	    <td>Name</td>
	    <td>Type</td>
	    <td>Category</td>
	    <td>Price</td>
	</tr>
	<tr th:each="producttemplate: ${products1}">
	    <td th:text ="${producttemplate.name}"></td>
		<td th:text ="${producttemplate.type}"></td>
		<td th:text ="${producttemplate.category}"></td>
		<td th:text ="${producttemplate.price}"></td>
    <td> <button type="submit" form="my_form" th:value="*{producttemplate.id}" name="id">Buy Product</button>
    </td>
   <!--  <td> <button type="submit" form="my_form1" th:value="*{producttemplate.id}" name="id">View Product Statistics</button> 
    </td>  -->
	</tr>
</table>
</body>
</html>