<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>STORE OWNER ACCOUNT</title>
</head>
<body>
	<a href="AddProductToStore">ADD PRODUCT TO STORE</a><br></br>
	<a href="AddStore">ADD STORE</a><br></br>
	<a href="BuyVoucher">BUY VOUCHER</a><br></br>
	<a href="Welcome">LOG OUT</a><br></br>
	
	
	
	
	<form  action= "ShowStatistics" method="get" id = "my_form" th:action ="@{/Show-Stores}" ></form>
	
    <button type="submit" form="my_form" >Show Stores</button>
    
    <form  action= "ShowStatistics2" method="post" id = "my_form1" th:action ="@{/ShowStatistics}" ></form>
    
    <button type="submit" form="my_form1" >Show Statistics</button>
    
    <form  action= "Show-StatOwner" method="post" id = "my_form2" th:action ="@{/Show-Stat}" ></form>
    
    <button type="submit" form="my_form2" >Choose Statistics</button>
</body>
</html>